SH_SOURCES="Sh_P2214163_nV-4.6.3_r32.7.3-00"
SH_GIT_SOURCES="https://github.com/StoneHEX/${SH_SOURCES}.git"
CROSS_COMPILER_SERVER="releases.linaro.org/components/toolchain/binaries/7.3-2018.05/aarch64-linux-gnu"
CROSS_COMPILER="gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu"
CROSS_COMPILER_ARCHIVE="${CROSS_COMPILER}.tar.xz"
TOOLCHAIN_PREFIX="${HERE}/gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu/bin/aarch64-linux-gnu-"
TEGRA_KERNEL_OUT="${HERE}/${SH_SOURCES}/${BOARD}_build"
DTSI_FOLDER="dtsi/${BOARD}"

